
.Container{
	
	border-radius: 35px;
    border: 4px solid #05f2f2;
    padding: 20px;
    height: 200px;
    margin: 20px 20px 30px;
    background-color: #ebfafa;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;

}
body{
    background-image: url('../pic/stu2/img/notebook.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0%;
    height: 100%;

}

#myBtn {
  bottom: 40px;
  float: right;
  right: 18.5%;
  left: 77.25%;
  max-width: 60px;
  width: 60px;
  height: 50px;
  font-size: 12px;
  border-color: rgba(28, 42, 84, 0.789);
  background-color: rgb(204, 201, 201);
  border-radius: 4px;
}

#bg {
    position:fixed;
    top:-50%;
    left:-50%;
    width:200%;
    height:200%;
    object-fit: cover;
}
#bg img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    min-width:20px;
    min-height:0px;

}
#all {
    
    z-index: 2;
    opacity: 87%;
    height: 90%;
    width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background: #f7fafc;
	border-radius:0px;
}

.q_center{
    text-align: center;
    align-content: center;
}
p.questions {
    font-family: open sans;
    font-size:24px;
    color: rgba(6, 1, 5, 0.71);
    margin-bottom:0px;
    margin-left: 70px;
}

.qheader{
    
    line-height: 27px;
    margin: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f59090;

}
h2 {
    font-family: 'Oswald', sans-serif;
    color: rgba(207, 0, 8, 0.56);
    font-weight:normal;
    font-size:50px;

}
h3{
    font-family: 'Baloo Chettan 2', cursive;
    color: rgba(51, 86, 185);
    font-weight:lighter;
    font-size:26px;
    margin-bottom: 0px;
}
p.toph{
    margin-top:15px ;
    font-family: 'Montserrat', sans-serif;
}
p{
    margin: 0%;
}

h2.timer{
    position: absolute;
    font-family: open sans;
    color: #bd2008;
    margin-left: 1000px;
    margin-top: 1px;
}
h2.Score{
    position: absolute;
    font-family: open sans;
    font-size:25px;
    margin-top: 55px;
    margin-left: 980px;
	 color:#29bd24;
}

.quizAnswers{
    font-family: open sans;
    color: midnightblue;
    font-size:16px;
    color: #424242;
    padding: 4px 0 4px 0;
}

label {
    font-family: 'Roboto Slab', serif;
    line-height: 40px;
    font-size:22px;
    color: #424242;
    padding: 0px;
    margin-left:3%;
    margin-top: 20%;
    text-align: center;
    align-content: center;
    vertical-align:top;
}

input.ans[type="radio"] {
    margin-top: 15px;
    position: relative;
    margin-bottom: 0px;
    line-height: 40px;
    padding: 0;
    width:20px;
    margin-left:20%;
    text-align: center;
    align-content: center;
}


input.Sub[type="submit"] {
    margin: 0 0 0 70%;
}

input[type="submit"]:hover {
    color: #ffffff;
    background: #0f3469;
    text-decoration: none;
}
input[type="submit"]{
    position: absolute;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-transition-delay: 0s, 0s;
    -webkit-transition-duration: 0.2s, 0.2s;
    -webkit-transition-property: color, background-color;
    -webkit-transition-timing-function: ease, ease;
    box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 5px 0px;
    color: #ffffff;
    background-color: #1b29a1;
    outline: 0;
    text-align: center;
    text-transform: uppercase;
    height: 35px;
    width: 85px;
    border: 1px solid #5E5E5E;
    border-radius: 5px;

}

input.rst[type="submit"] {
    margin: 0 0 0 60%;
}

input.st[type="submit"] {
    margin: 0 0 0 70%;
}

.submitter {
    width:85px;
    margin-bottom: 70px;
}
.startup{
    width: 8px;
    margin-bottom: 70px;
}
.hide {
    display:none;
}
.shop {
	background-color:pink;
	color:black;
}
